:root {
  --bg-color: #111;
}
* {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  outline: none !important;
  user-select: none;
}

nav [data-route-active="true"] {
  color: #0091ff !important;
  background-color: #11111170;
}
